

<h3>List Of Avaliable Products</h3><br />

	

    <h4>Fruits</h4><br />
    	<ul>
    	 <%= check_box_tag "0" %> Apples<br />
    	 <%= check_box_tag "0" %> Bananas<br />
    	 <%= check_box_tag "0" %> BlueBerries<br />
    	 <%= check_box_tag "0" %> Grapes<br />
    	 <%= check_box_tag "0" %> Strawberries<br />
    	 <%= check_box_tag "0" %> Pineapples<br />
        </ul>

      <h4>Vegetables</h4><br />
    	<ul>
         <%= check_box_tag "0" %> Beans<br />
    	 <%= check_box_tag "0" %> Cabbage<br />
    	 <%= check_box_tag "0" %> Capisum<br />
    	 <%= check_box_tag "0" %> Carrots<br />
    	 <%= check_box_tag "0" %> Garlic<br />
    	 <%= check_box_tag "0" %> Ginger<br />
    	  <%= check_box_tag "0"%> Potatos<br />
    	 <%= check_box_tag "0" %> Tomatos<br />
    	 <%= check_box_tag "0" %> Mushrooms<br />
    	 <%= check_box_tag "0" %> Onion<br />
        </ul>
      
      <h4>Grocery</h4><br />
    	<ul>
         <%= check_box_tag "0" %> Chocolates<br />
    	 <%= check_box_tag "0" %> cornflour<br />
    	 <%= check_box_tag "0" %> Dired Fruits<br />
    	 <%= check_box_tag "0" %> Honey<br />
    	 <%= check_box_tag "0" %> Ice Cream Cones<br />
    	 <%= check_box_tag "0" %> Jam<br />
    	  <%= check_box_tag "0"%> Noodles<br />
    	 <%= check_box_tag "0" %> Nuts<br />
    	 <%= check_box_tag "0" %> Oil<br />
    	 <%= check_box_tag "0" %> Rice<br />
        </ul>


<!DOCTYPE html>
<html>
<body background="grocery-store.jpg">

<table border="1">
<tr>
  <th>S.No</th>
  <th>Products</th>
  <th>Availble Quantity</th>
  <th>Price(each per kg)</th>

</tr>
<tr>
  <td><br /><br />1</td>
  <td><h5>Fruits:<br /></h5><%= check_box_tag "1" %> Apples<br /></td>
  <td><br /><br /><center>10kg</center></td>
  <td><br /><br /><center>64.00Rs<center></td>
</tr>

<tr>
  <td><br /><br />2</td>
  <td><br /><br /><%= check_box_tag "0" %> Bananas<br /></td>
  <td><br /><br /><center>12kg</center></td>
  <td><br /><br /><center>24.00Rs<center></td>
</tr>


</table>