<!DOCTYPE html>
<html>
<head>
<body>
<center>
  <table border="1" cellspacing="0" cellpadding="10" id="c">
  <h3><center>List Of Products</h3></center>
  <thead>
<th>S.No</th>
<th>Products</th>
<th>Availble Quantity<br>(in kg)</th>
<th>Price<br>(each per kg/qua)</th>
<th>Quantity Requried<br>(enter required qua as per kg/qua)</br></th>
</thead>
<% @product.each do |c| %>
<tbody> 
<tr >

  <td><center><%= c.id %> </center></td>
  <td><center><%= c.name %></center></td>
  <td><center><%= c.quantity %> </center></td>
  <td><center><%= c.price %> </center></td>
  <td><center><input type= "text" style="width:50px;"></center></td>
  </tr>

  </tbody >


<% end %>








</table></center><br>


<center><%= link_to "ADD", checkout_index_path, class: "btn btn-small btn-primary" %></center>



</body>
</head>
</html>